# Dependencies
/node_modules
/shruggbot-ui/node_modules

# Allow React build to be committed
# /shruggbot-ui/build ← ⬅️ this line was preventing deploys

# Environment Variables
.env

# Production
#/build
#/dummy 

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
